html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
img {
  display: block;
  margin: 0;
  max-width: 100%;
  height: auto;
}
.container {
  margin: 0 auto;
  padding: 0.32rem;
  width: 5rem;
  height: 100vh;
  background: url("https://zongzi.lovetime.top/juejin/girlfriend/bg.jpg")
    no-repeat;
  box-sizing: border-box;
}
.express {
  h1 {
    font-size: 0.24rem;
  }
  p {
    font-size: 0.2rem;
    font-weight: 400;
  }
}
.wink {
  margin: 0;
  width: 100%;
}

.decision {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0.24rem;
  color: #fff;
  &-btn {
    padding: 0.12rem 0.4rem;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0.08rem;
    cursor: pointer;
    span {
      margin-left: 0.12rem;
    }
    &.refuse {
      span {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
  
        filter: grayscale(100%);
  
        filter: gray;
      }
    }
  }
}

.heart-box {
  width: 0.5rem;
  height: 0.5rem;
  background: radial-gradient(red 0.05rem, transparent 0.05rem) no-repeat 0.1rem
      0.1rem/0.1rem 0.1rem,
    radial-gradient(red 0.05rem, transparent 0.05rem) no-repeat 0.15rem 0.1rem/0.1rem
      0.1rem,
    linear-gradient(to bottom left, red 0.05rem, transparent 0.05rem) no-repeat
      0.8rem 0.17rem/0.1rem 0.1rem,
    linear-gradient(to bottom right, red 0.05rem, transparent 0.05rem) no-repeat
      0.18rem 0.17rem/0.1rem 0.1rem;
  // animation: heart 1s infinite 1s linear;
}

@keyframes heart {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
